body {background-color: white}


.filters {
  padding: 10px;
  border: 1px solid #44627D;
  background-color: #44627D;
  color: white;
}

#checkboxes {
  color: white;
  font-size: 13px;
}
.list-group-item {
  background-color: #44627D;
}

#latestnews {
  margin-top:10px;
}

#news {
  background-color: #44627D;
}

#oldernews {
  line-height: 0.050;
  color: white;
  font-size: 12px;
}
#bodycontent2 {
  background-color: #30414E;
}

#filterboxbg {
  background-color: #30414E;
}

#stuff {
  background color: red;
}

#bottomnav {
  background-color: #30414E;
}
#navtext {
  color: white;
}

#test {
  padding-bottom: 35px;
}

#clothingtype {
  padding-bottom:25px;
}

#filetypespacingtwo {
  padding-top: 63px;
    font-size: 13px;
}

#filetypespacingone {
  padding-bottom: 0px;
  color: white;
    font-size: 13px;

}

#abovealpha {
  padding-top:69px;
}

#spacingfilter {
  padding-top: 10px;
  color: white;
    font-size: 13px;
}

#download {
  margin: auto;
  background-color: #FFF496;
    height: 40px;
  width: 100px;
    position: static;
}

#recentbold {
  background-color: #FFF496;
}
#tabs {
  background-color: #30414E;
}

#tabtext {
  color: white;
}

#cctitle {
  color: white;
}

#cccategory {
  color:white;
  font-size: 14px;
}

#ccbar {
  background-color: white;
}

#iconinfo {
}

#icon {
  float: right;
 margin: 0 0 0 15px;
}

#cctext {
    color: #44627D;
    font-weight: bold;
  float: right;
 margin: 0 0 0 0px;
   font-size: 12px
}

#eps{
  color: #44627D;
    font-weight: bold;
     text-decoration-line: underline;
  margin: auto;
    font-size: 12px;
}

  @media (min-width: 768px) {
    .carousel-inner {
      display: flex;
    }
    .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
    }
  }


  .carousel-control-prev, .carousel-control-next{
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

belowjunk
#navbartext {
  color:white !important;
}
.bg-info {
  background-color: 4A9CCA !important;
}
