body {background-color: white}


.filters {
  padding: 10px;
  border: 1px solid #44627D;
  background-color: #44627D;
}

.list-group-item {
  background-color: #44627D;
}

#latestnews {
  margin-top:10px;
}

#news {
  background-color: #44627D; 
}

#bodycontent2 {
  background-color: #30414E;
}

#filterboxbg {
  background-color: #30414E;
}

#stuff {
  background color: red;
}

#bottomnav {
  background-color: #30414E;
}

#test {
  padding-bottom: 24px;
}

#tested {
  padding-bottom: 24px;
}

#download {
  margin: auto;
  background-color: yellow;
    height: 40px;
  width: 100px;
    position: static;
}

.bg-info {
  background-color: 4A9CCA !important;
}
